<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>Media Center Checkout App</title>
</head>
<body>

    <div id="app-8">
        <input type='date' class='form-control' id='dateField'></input>
        <div class="row">
        <span class=".col-md-6">
            <checkout-item
            v-for="item in labItems"
            v-bind:checkoutItem="item"
            v-bind:key="item.id">
        </checkout-item>
        </span> 
        <span class=".col-md-6">
        <checkout-item
            v-for="item in libraryItems"
            v-bind:checkoutItem="item"
            v-bind:key="item.id">
        </checkout-item>
        </span>
    </div>
        <!--TODO:: figure out how to call save -->
        <button type="button" class="btn btn-primary" onclick="">Save Changes</button>
    </div>

    <script src="./vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/then-request/2.2.0/request.js"></script>

    <script>    
    const periods = [{ text: '1st Period'}, { text: '2nd Period'}, { text: '3rd Period'}, { text: '4th Period'}, { text: '5th Period'}, { text: '6th Period'}];
    //I put a test name field on here to check that it does replace the value. We should remove that and just load the names from the server.
    const timeSlots = [{ text: '9:15', name: 'kyle' }, { text: '9:30' }, { text: '9:45' }, { text: '10:00' }, { text: '10:15' }, { text: '10:30' }, { text: '10:45' }, { text: '11:00' }, { text: '11:15' }, { text: '11:30' }, { text: '11:45' }, { text: '12:00' }, { text: '12:15' }, { text: '12:30' }, { text: '12:45' }, { text: '1:00' }, { text: '1:15' }, { text: '1:30' }, { text: '1:45' }, { text: '2:00' }, { text: '2:15' }, { text: '2:30' }, { text: '2:45' }, { text: '3:00' }, { text: '3:15' }, { text: '3:30' }]
    const allDay = [{ text: 'All Day' }];

    //TODO:: fix this.
    Vue.component('media-time', {
        props: ['text', 'id', 'name'],
        template: "<div> {{ text }} : <input placeholder='your name here' v-model='name'></input></div>"
    })
    
    Vue.component('checkout-item', {
    props: ['checkoutitem'],
    template: "<div>  {{ checkoutitem.text}}" +
        "<media-time " + 
        " v-for='item in checkoutitem.times'" + 
        " v-bind:text='item.text'" + 
        " v-bind:name='item.name'" + 
        " v-bind:id='item.id'>" + 
        "</media-time>" + 
        "</div>"
    })


    var app8 = new Vue({
    el: '#app-8',
    data: function() {
        return {
            date: moment().format("YYYY-MM-DD"),
            labItems: [
                { id: 'lab502', text: 'Labs 502', times: periods },
                { id: 'lab504', text: 'Labs 504', times: periods },
                { id: 'lab705', text: 'Labs 705', times: periods },
                { id: 'labcart1', text: 'Lab Cart 1 (30)', times: allDay },
                { id: 'labcart2', text: 'Lab Cart 2 (18)', times: allDay }      
            ],
            libraryItems: [
                { id: 'mediacenter', text: 'Media Center', times: timeSlots },
                { id: 'greenscreen', text: 'Green Screen', times: periods }        
            ]
        }
    },
    mounted: function() {
        this.loadData();
    },
    methods: {
        loadData() {
            // This calls the backend API to get the latest to-do items
            var self = this;
            var date = this.date;
            //TODO::figure out how to call load data when selected
            $('#dateField').val(date);
            $.ajax({
                    url: "https://9nakk1teyj.execute-api.us-east-1.amazonaws.com/prod?date=" + date,
                    type: 'GET',
                    success: function (response) {
                        self.labItems.times = response.filter((e) => e.Type == 'lab');
                        self.libraryItems.times = response.filter((e) => e.Type == 'library');    
                    },
                    error: function (e, message) {
                            alert("error " + message);
                    }
            });
        },
        
        onSave() {
            // This calls the backend API to create a new to-do item
            //TODO:: make this actually do that ^ via lambda funcs and dynamodb
            var todo = {
                title: this.newTodoTitle,
                content: this.newTodoContent
            };
            request.post("/api/todos").send(todo).end((err, res) => {
                this.todos = res.body.todos;
            });

            this.newTodoTitle = "";
            this.newTodoContent = "";
        }
    }
});

    </script>

</body>
</html>